footer {
    background-color: rgb(32, 29, 72);
    width: 100vw;
    position: absolute;
    left: 0%;
}

footer a:hover {
    text-decoration: underline !important;
}

footer div.policy-links>a,
footer div.disclaimer {
    font-size: 0.75rem;
}

footer button.position {
    background-color: #18152c;
    width: 85px;
    height: 38px;
    font-size: 0.875rem;
    gap: 0.8rem;
    padding: 7px 0.75rem;
}

footer .accordion::after,
footer .accordion-button::after,
footer .accordion-button:not(.collapsed)::after {
    background-image: url("../../public/assets/svg/arrow-right.svg");
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    filter: invert(87%) sepia(79%) saturate(0%) hue-rotate(95deg) brightness(109%) contrast(102%);
}

footer .accordion-button:focus {
    border: none;
    box-shadow: none;
}

footer .accordion-button::after {
    transform: rotate(90deg);
}

footer .accordion-button:not(.collapsed)::after {
    transform: rotate(270deg);
}

footer .accordion-button:not(.collapsed) {
    box-shadow: none;
}

@media (min-width: 992px) {
    footer .accordion-button {
        cursor: auto !important;
    }

    footer .accordion::after,
    footer .accordion-button:after,
    footer .accordion-button:not(.collapsed)::after {
        display: none;
    }
}

@media (max-width: 992px) {

    footer .accordion>*,
    footer .row {
        width: 100vw;
    }

    footer .col-logo-lego,
    footer .social,
    footer .policy-links,
    footer .disclaimer {
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }

    footer .container {
        margin-left: 0;
        margin-right: 0;
    }

    footer .accordion-item {
        padding-left: 0;
        padding-right: 0;
    }

    footer .accordion a {
        font-size: 0.875rem;
        border-bottom: 1px solid white;
    }

    footer .accordion h2 {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
}

@media (max-width: 576px) {
    footer button.position {
        width: 97px;
        height: fit-content;
        font-size: 1.125rem;
        padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
    }

    footer img.lego-logo {
        width: 4.375rem;
        height: 4.375rem;
    }
}