@import "./config.css";

/* .modal-input {
    display: flex;
} */

.modal-input label {
    position: absolute;
    left: 30px;
    margin-top: 5px;
}

.input {
    text-align: start;
}

.input:focus + label {
    transition: 0.5s;
    transform: translateY(-32px);
    color: #016db7;
    border: 1px 1px 0 1px solid #016db7;
    border-radius: 5px;
    padding: 5px 5px 0;
    /* background-color: white; */
}

.input:focus {
    outline-color: #016db7;
}

body {
    overflow-x: hidden;
}

.offcanvas-body {
    width: fit-content;
}

main {
    margin-top: -1rem;
}

main .main-container {
    width: 100vw;
    min-height: 32vw;
    height: fit-content;
    max-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main-container .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-container .main-text h1 {
    font-size: 4rem;
    height: 5.5rem;
}

main .main-container .main-text h2 {
    font-size: 2.5rem;
}

main .main-container .main-text h3 {
    font-size: 1.13rem;
    line-height: 1.8rem;
}

.sub-main-container .big-icons {
    width: 5rem;
}

.sub-main-container .big-icons span {
    font-size: 0.8rem;
    transition: all 0.15s;
}

.sub-main-container .big-icons:hover span {
    text-decoration: underline;
    color: #016db7 !important;
}

.sub-main-container .big-icons:hover img {
    filter: opacity(0.8);
}

@media (max-width: 1200px) {
    .main-container .main-text h2 {
        font-size: 1.5rem;
    }

    .main-container .main-text h3 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 978px) {
    main .main-container .main-text h2 {
        font-size: 1.2rem;
    }

    main .main-container .main-text h3 {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 576px) {
    .main-container {
        background-color: #001531;
        margin-top: -6rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 568px) {
    .d-xs-block {
        display: block !important;
    }
}

.align {
    margin: 0 auto;
}

.align .container {
    max-width: 82.5rem;
}

.prova {
    width: 250px;
    height: 180px;
    position: relative;
    top: 0;
    left: 0;
}

.cards-wrapper {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-container-2 {
    width: 250px;
}

.card-title {
    margin-top: 10px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    word-wrap: break-word;
}

.card-text {
    margin-top: 20px;
    text-align: center;
    font-size: 0.7rem;
}

.compra-ora-svg {
    color: rgb(0, 0, 0);
    margin-left: 0.625rem;
    margin-top: 0.5rem;
    line-height: 0;
    height: 12px;
    width: 8px;
    transition: transform 0.1s linear 0s;
}

.compra-ora {
    justify-content: center;
}

.compra-ora-text {
    font-weight: 600;
}

.imgs-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.logo-img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-height: 30px;
}

.logo-img-2 {
    position: absolute;
    bottom: 10px;
    left: 80px;
    max-height: 30px;
}

.logo-img-3 {
    position: absolute;
    bottom: 10px;
    left: 40px;
    max-height: 30px;
}

.logo-img-4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-height: 20px;
}

.cont-personal {
    width: 100vw;
    max-width: 1500px;
    margin: auto;
}

.rotate-180 {
    rotate: 180deg;
}

.container-xxxl {
    max-width: 1420px;
    width: 100vw;
    margin: auto;
}

.my-ratio {
    aspect-ratio: 1/1;
}

.z-index-1 {
    z-index: 1;
}

.fs-7 {
    font-size: 0.75rem;
}

.fs-8 {
    font-size: 0.875rem;
}

.container-1600 {
    max-width: 1610px;
    width: 100vw;
    margin: auto;
}

.z-index-2 {
    z-index: 2;
}

.carousel-btn {
    padding: 0.5rem;
    border: 1px solid lightgrey;
    z-index: 1;
    transition: all 0.2s;
}

.carousel-btn img {
    margin: 0 7px;
}

.carousel-btn:hover {
    background-color: #e0e0e0 !important;
}

@media (max-width: 1400px) {
    .carousel-btn-absolute {
        position: absolute;
    }
}

.lego-scroll ::-webkit-scrollbar {
    width: 0;
    height: 5px;
    transition: all 0.2s;
    display: block;
    background-color: white;
    cursor: pointer;
}

.lego-scroll ::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 0;
    margin: 0 10vw;
}

.lego-scroll ::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 0;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .lego-scroll ::-webkit-scrollbar-track {
        margin: 0 20px;
    }
}

.lego-scroll-dark::-webkit-scrollbar {
    display: none;
}

@media (max-width: 900px) {
    .lego-scroll-dark::-webkit-scrollbar {
        width: 0;
        height: 5px;
        transition: all 0.2s;
        display: block;
    }

    .lego-scroll-dark::-webkit-scrollbar-track {
        box-shadow: inset 0 0 20px #272727;
        border-radius: 0;
    }

    .lego-scroll-dark::-webkit-scrollbar-thumb {
        background: #9d9d9d;
        border-radius: 0;
        cursor: pointer;
    }

    .lego-scroll-dark:-webkit-scrollbar-thumb:hover,
    .lego-scroll-dark::-webkit-scrollbar-thumb:active {
        background-color: white;
        cursor: pointer;
    }
}

.w-50-vw {
    min-width: 50vw;
    width: fit-content !important;
}

.max-vh-75 {
    max-height: 72.5vh;
}

.rotate-0 {
    rotate: 0deg !important;
}